* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono';
}

body {
    background-color: beige;
}

img {
    border-radius: 12%;
}

ul {
    list-style-type: none;
}

#pong {
    background-image: url("../Background/Pong.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 7%;
}

.navbar {
    overflow: hidden;
    padding-right: 1%;
    text-align: center;
}

.navbar a {
    float: right;
    padding: 1.1% 1.6%;
    color: white;
}

.navbar div a {
    padding: 1.3% 0.4%;
}

.intro {
    color: white;
}

.intro div {
    text-align: right;
    width: 45%;
    padding-top: 12%;
}

#bio {
    display: flex;
    color: black;
    width: 55%;
    padding: 1% 0 0 21%;
}

#bio ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;
}

#bio li {
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 1%;
    padding: 0.75% 2% 0.75% 2%;
    border-radius: 12%;
}

.description {
    margin: 5.5% 0 0 2%;
}

.underline {
    text-decoration: underline #D18181 30%;
    text-decoration-skip-ink: none;
    text-underline-offset: -30%;
}

.underline h1 {
    text-decoration: underline #D18181 40%;
    text-underline-offset: -40%;
}

.expand {
    color: #D18181;
    text-decoration: none;
}

.expand:hover {
    text-decoration: underline #D18181 15%;
    text-decoration-skip-ink: none;
    text-underline-offset: 8%;
}