*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono';
}

body {
    background-color: beige;
}

.pong {
    background-image: url("../Background/Pong.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 7%;
}

.navbar {
    overflow: hidden;
    display: flex, right;
    padding-right: 1%;
    text-align: center;
}

.navbar a {
    float: right;
    padding: 1.1% 1.6%;
    color: white;
    text-decoration: none;
}

.navbar div a {
    padding: 1.3% 0.4%;
}

.intro {
    color: white;
}

.intro div {
    text-align: right;
    width: 45%;
    padding-top: 12%;
}

.skills-title {
    color: black;
}

.skills-title div {
    text-align: center;
    width: 50%;
    padding-top: 2%;
    padding-left: 3.5%;
}

.skills-box {
    display: flex;
    text-align: center;
    padding-left: 23.5%;
}

.skills-box div {
    text-align: center;
}

.coding-languages div {
    padding-left: 30px;
}

img {
    border-radius: 12%;
}